---
// components
import { Image } from 'astro:assets';
import Link from './Link.astro';

// utils
import { slugify, formatDate } from '../scripts/utils'

const { frontmatter, url, tagType } = Astro.props

const Tag = tagType

const { title, date, author, image, description, category } = frontmatter
---

<article class="card overflow">
  <small><a href={`/category/${slugify(category)}/`} class="badge">{category}</a></small>
  <a href={url} aria-hidden="true" tabindex="-1">
    <Image
      src={image.src}
      alt={image.alt}
      width="400"
      height="250"
      format="webp"
      quality={90}
    />
  </a>
  <div class="content">
    <div>
      <Tag class="subtitle">
        <a href={url} title={title}>{title}</a>
      </Tag>
      <small>
        by <a class="post-author" href={`/author/${slugify(author)}/`}>{author}
        </a> · {formatDate(date)}
      </small>
    </div>
    <p class="card-description">{description}</p>
    <Link
      href={url}
      text='Read Post'
      style='secondary'
    />
  </div>
  
</article>