---
// components
import { Image } from 'astro:assets';

// utils
import { slugify, formatDate } from '../scripts/utils'

const { category, title, author, date, image} = Astro.props
---

<header>
  <div class="container">
    <small><a href={`/category/${slugify(category)}/`} class="badge">{category}</a></small>
    <h1 class="subtitle">{title}</h1>
    <p>by <a class="header-author" href={`/author/${slugify(author)}/`}>{author}</a> · {formatDate(date)}</p>
  </div>
  <Image
    src={image.src}
    alt={image.alt}
    width="1200"
    height="600"
    format="webp"
    quality={90}
    class="hero-image"
  />
</header>