---
// Components
import Layout from './Layout.astro';
import PostHeader from '../components/PostHeader.astro'

// Styles
import '../css/styles.css'

const { frontmatter } = Astro.props
const { title, description, date, category, author, image } = frontmatter
---

<Layout title={title} {description}>
  <PostHeader
    {title}
    {description}
    {date}
    {category}
    {image}
    {author}
  />
  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar">

    </div>
  </div>
</Layout>
